@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* 1. Preloader */
/* 2. Navbar */
/* 3. HomePage */
/* 4. About */
/* 5. Education */
/* 6. Skills */
/* 7. Services */
/* 8. Portfolio */
/* 9. Contact Me  */
/* 10. Footer */
/* Social Services */
/* Back to top  */





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}





/* Preloader */


.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }

  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }

  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}

/* =============================================== */

/* Navbar */

nav {
  display: flex;
  width: 100%;
  min-height: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: #787A91;
position: fixed;
z-index: 1;

}


.left-side a {
  text-decoration: none;
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
}


.right-side {
  display: flex;
  align-items: center;

}

ul {
  list-style: none;
  display: flex;
  color: white;



}

li {
  padding: 0px 20px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 500;

}

.hover-underline-animation:hover {
  color: #cdcccc;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;

}

.menu-toggle span {
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
  display: block;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: .3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: .3s;
}

#chechoff{
  display: none;
}

#checkbox:checked+.toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: .3s;
  z-index: 2;
}

#checkbox:checked+.toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: .3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked+.toggle {
  transform: rotate(-90deg);
}

@media (max-width: 768px) {
  .right-side ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #0F044C;
  


  }

  .right-side ul.show {
    display: flex;


  }

  .right-side li {
    text-align: center;
    margin: 10px 0;
  }

  .toggle {
    display: flex;
  }
}


/* ======================================================= */



/* Home Page */

.homepage {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
  background-image: url(./Images/hero-bg-home.svg);
  background-position: right;
  background-repeat: no-repeat;
  padding: 50px;
  overflow-x: hidden;
}

.section-01 {
  width: 50%;
  height: 90vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  color: #151515;

}


.section-01 h3 .TypeAnimation{
  color:#12486B ;
  font-size: 30px;
}



.inline {
  display: flex;
  width: 100%;
  align-items: center;


}

.contact {
  font-size: 16px;
  background: transparent;
  border: 1px solid #0F044C;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin: 10px;
}

.contact a {
  text-decoration: none;
  color: #0F044C;

}

.contact span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.contact .icon-main {
  display: flex;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;

}

.contact:hover .icon {
  animation: fly-1 0.6s ease-in-out infinite alternate;


}

.contact:hover {
  background-color: #0f044c61;
  border: 2px solid #0F044C;
}

.contact:hover .icon-main {
  transform: translateX(3em) scale(1.1);

}

.contact:hover span {
  transform: translateX(7em);
}

.contact:active {
  transform: scale(0.95);
}





.section-02 {
  width: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-02 img {
  width: 400px;
  border-radius: 10px;
}

.parent {
  display: flex;
  position: absolute;
  bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);


}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

button a {
  color: #0F044C;
}


.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}
@media (max-width: 412px) {
  .homepage {
    padding: 0px;
  }
  .contact {
    font-size: 13px;
   
  }
  
.section-01 h3 .TypeAnimation{
  font-size: 25px;
}
.section-01 h1{
  font-size: 23px;
}
  
}


@media (max-width: 768px) {
  .homepage {
    flex-direction: column-reverse;

  }

  .section-01 {
    width: 100%;
    height: auto;
    align-items: center;

  }

  .section-02 {
    width: 100%;
    height: auto;
    align-items: center;

  }

  .parent {
    position: relative;
    top: 0;
    right: 0;
  }
  
}

/* ===================================================== */



/* About Me */


.about-me {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
padding: 20px;


}

.part-01 {
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;



}

.inbox {
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.inbox h1 {
  font-size: 50px;
  margin: 20px 0px;
  color: #0F044C;
}

.inbox p {
  font-size: 17px;
  font-weight: 500;
  color: #151515;
}

.part-02 {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part-02 img {
  width: 400px;
}


@media (max-width: 412px) {


  .inbox {

    padding: 20px;
  }
  .inbox h1 {
    font-size: 25px;

  }
  
  .inbox p {
    font-size: 15px;

  }


}

@media (max-width: 768px) {
  .about-me {
    flex-direction: column-reverse;
  }

  .part-01 {
    width: 100%;
    height: auto;
  }

  .part-02 {
    width: 100%;
    height: auto;
  }

  .part-02 img {
    width: 300px;
  }


}





/* ==================================================== */


/* Education */

.education-talk {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #EEEEEE;
  padding: 30px;

}

.edu-part02 {
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edu-part02 h1 {
  font-size: 50px;
  color: #0F044C;
}

.edu-part01 {
  width: 50%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edu-part01 img {
  width: 500px;
}

.study {
  width: 90%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #0F044C;
  padding: 10px;
  margin: 10px 0px;
  color: #151515;
}

.study:hover {
  width: 90%;
  height: 120px;
  transition: 0.2s all ease-in-out;
  color: white;
  background-color: #0f044c61;
  border: 2px solid #0F044C;
}

.study-box-01 {
  width: 10%;
  font-size: 40px;
  text-align: center;
  margin-right: 10px;


}

.study-box-02 {
  width: 90%;
}

.study-box-02 h5 {
  font-size: 17px;

}

.study-box-02 h4 {
  font-size: 18px;

}
@media (max-width: 412px) {


  .edu-part02 h1 {
    font-size: 25x;    }
  
  
  }
  
.study-box-01 {
width: auto;
font-size: 30px;


}


@media (max-width: 768px) {

  .education-talk {
    flex-direction: column;
    padding: 30px;
  }

  .edu-part01 {
    width: 100%;
    min-height: auto;

  }

  .edu-part01 img {
    width: 300px;
  }

  .edu-part02 {
    width: 100%;
    min-height: auto;

  }

    



}

/* ============================================== */

.skills {
  width: 100%;
  min-height: 100vh;
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 50px;
}

.skills h1 {
  color: #0F044C;
  padding: 30px;
  font-size: 50px;

}


.skills-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.container {
  width: 200px;
  height: 240px;
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 45px;
}

.icons {
  font-size: 55px;
  color: #0F044C;
}


.container:hover {
  background-color: #0f044c61;
  border: 2px solid #0F044C;
  transition: 0.2s all ease-in-out;
  height: 250px;

}

@media (max-width: 412px) {



  .skills h1 {
      font-size: 25px;
    }
  
  }

@media (max-width: 768px) {

  .container {
    width: 160px;
    height: 200px;
    margin: 20px;

  }

  .container:hover {
    height: 210px;
  }

}





/* ================================================== */


/* Services  */



.services {
  width: 100%;
  min-height: 100vh;
  background: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;

}

.services h1 {
  color: #0F044C;
}


.service-box {
  width: 40%;
  min-height: 500px;
  color: white;
  display: flex;
  justify-content: center;align-items: center;
flex-wrap: wrap;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
  padding: 20px;

}

.service-box .item {
  width: 200px ;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0F044C;
  background-color: transparent;

}

.item:hover {
  transform: scale(1.3);
  transition: all 1s ease-in-out;
  rotate: 360deg;
  background-color: #0f044c61;
  border: 2px solid #0F044C;
 



}

.item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
  color: #0F044C; 
}


.text {
  font-size: 18px;
  font-weight: 600;
  color: #0F044C;

}

@media (max-width:412px) {
  
  .services {
    padding: 10px;
  }
  
  .services h1 {
font-size: 25px;
  
  }
}

@media (max-width:768px) {
  
.services {
  padding: 10px;
}

.service-box {
  width: 80%;
}
}


/* =================================================== */

/* Portfolio */

.my-portfolio {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #EEEEEE;
  padding: 50px;


}


.project-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.my-portfolio h1 {
  color: #0F044C;
  padding: 30px;

}

.project {
  width: 340px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 10px;


}

.project img {
  width: 100%;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.project:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.project__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #0f044c61;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project:hover .project__content {
  transform: rotateX(0deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project__title {

  font-size: 20px;
  color: white;
  font-weight: 700;
}

.project__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: white;
  line-height: 1.4;
}
.project__content span{
  display: flex;
}
.project__button {

  padding: 5px;
  border-radius: 8px;
  background: #0F044C;
  border: none;
  margin: 0 2px;
  font-size: 15px;
}

.project__button a {
 text-decoration: none;
 color: white;
}
.secondary {
  background: transparent;
  border: 1px solid white;
}


.portfolio-btn {
  font-size: 16px;
  background: transparent;
  border: 1px solid #0F044C;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin: 10px;
  color: #0F044C;
}

.portfolio-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.portfolio-btn .main-icon {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;

}

.portfolio-btn:hover .icon-box {
  animation: fly-1 0.6s ease-in-out infinite alternate;


}

.portfolio-btn:hover {
  background-color: #0f044c61;
  border: 2px solid #0F044C;
}

.portfolio-btn:hover .main-icon {
  transform: translateX(2.5em) scale(1.1);

}

.portfolio-btn:hover span {
  transform: translateX(7em);
}

.portfolio-btn:active {
  transform: scale(0.95);
}

@media (max-width: 412px) {

  .my-portfolio h1 {
 font-size: 25px;
  }
  
}



/* =================================================== */

/* Contact Me */


.contact-me {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  padding: 50px;
  overflow-x: hidden;

}

.form {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #0F044C;
  padding: 50px;
  flex-direction: column;

}

.form-detail {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  width: 90%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #0F044C;
  outline: none;
  color: #151515;

}

textarea {
  width: 90%;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #0F044C;
  outline: none;
  color: #151515;

}


.form-btn {
  font-size: 18px;
  background: transparent;
  color: #0F044C;
  border: 1px solid #0F044C;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.form-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.form-btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.form-btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;


  
}
.form-btn:hover {
  background-color: #0f044c61;
  border: 2px solid #0F044C;
}

.form-btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);

}

.form-btn:hover span {
  transform: translateX(5em);
}

.form-btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


.form-img {
  display: flex;
  width: 50%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.form-img img {
  width: 500px;

}

@media (max-width: 412px) {
  .contact-me {
padding: 20px;
  
  }
  .form-img img {
    width: 300px;

  }
  .form h1{
    font-size: 25px;
  }


}
@media (max-width: 768px) {
  .contact-me {
flex-direction: column-reverse;

  
  }
  .form {
    display: flex;
    width: 100%;
    height: auto;
 
  }
  .form-img {
    width: 100%;
    height: auto;

  
  }
  
  .form-img img {
    width: 400px
  }

}




/* ================================================== */

/* Footer  */

footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #787A91;
  color: white;
text-align: center;
}

/* =============================================== */

/* Back to Top  */

.back-to-top-button {
  position: fixed;
  bottom: 10px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

}

.back-to-top-button.visible {
  opacity: 1;
}

.scroll-btn {
  padding: 15px 18px;
  border: 2px solid silver;
  border-radius: 50%;
  color: white;
  background-color: #0F044C;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}



@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* ==================================================== */